.bg-bleu-fonce{
    background-color: hsl(235, 46%, 20%);
}

.bg-bleu-clair{
    background-color: hsl(246, 80%, 60%);
}
.bg-work{
    background-color: hsl(15, 100%, 70%);
}
.bg-play{
    background-color: hsl(195, 74%, 62%);
}
.bg-study{
    background-color: hsl(348, 100%, 68%);
}
.bg-exo{
    background-color: hsl(145, 58%, 55%);
}
.bg-social{
    background-color: hsl(264, 64%, 52%);
}
.bg-care{
    background-color: hsl(43, 84%, 65%);
}

.arrondi{
    border-radius: 20px;
}

.heith-66{
    height: 66%;
}

.height-33{
    height: 33%;
}

.text-desat{
    color: hsl(236, 100%, 87%);
}

.curseur-pointeur{
    cursor: pointer;
}

.boutons:hover, .boutonsClick{
    color: white;
    font-weight: 400;
}